@layer utilities {
  @variants hover, focus {
    .text-facebook {
      color: #1877f2;
    }
    .text-linkedin {
      color: #0073b1;
    }
    .text-instagram {
      color: #dd2a7b;
    }
    .text-twitter {
      color: #1da1f2;
    }
    .text-youtube {
      color: #ff0000;
    }
  }
}
